main {
    display: flex;
    > div {
        border: 1px solid var(--cinzacl);
        padding: 3rem;
        height: 90vh;
        width: 50%;
    }
    > h1 {
        padding-top: 3rem;
    }
    > p {
        padding: 4rem 0rem;
    }
}
.contact-info {
    background: var(--cinzacl);
    height: 100px;
    margin: 3rem;
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.contact-icon {
    height: 64px;
    width: 64px;
    margin-right: 1rem;
    filter: brightness(0) invert(0.8);
}
.contact-zap {
    background: url(../svg/whatsapp-brands-solid-full.svg);
}
.contact-email {
    background: url(../svg/envelope-regular-full.svg);
}
.contact-location {
    background: url(../svg/location-dot-solid-full.svg);
}
.contact-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin-bottom: 2rem;
    }
}
