:root {
    --preto: #0d0d0d;
    --cinza: #222a2b;
    --cinzacl: #323e40;
    --branco: #eeeeee;
    --primaria: #95b8bf;
    --segundaria: #d5eff2;
    --tercearia: #d9ce96;
}
* {
    font-family: "Elms Sans", sans-serif;
    color: var(--branco);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@font-face {
    font-family: "ariosto";
    src: url("../font/ARIOSTO.TTF") format("truetype");
}
a {
    text-decoration: none;
}
nav {
    border-bottom: solid 1px var(--cinza);
    background-color: var(--preto);
    justify-content: space-between;
    display: flex;
    height: 88px;
    padding: 0px 2rem;
}
nav > div {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.logo {
    background: url(../img/logo.png);
    background-size: cover;
}
.brand-name {
    font-family: "ariosto";
    font-size: 24px;
    color: var(--segundaria);
}
.brand-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.nav-logo {
    width: 64px;
    height: 64px;
}
.nav-links a {
    text-transform: uppercase;
    transition: 0.5s ease;
    padding: 4px;
    display: inline-block;
    font-weight: 350;
}
.nav-links a:hover,
.dropdown:hover .dropdown-elem {
    color: var(--primaria);
    /*transform: scale(1.1);*/
    .background-icon {
        background-color: var(--primaria);
        transition: 0.5s ease;
    }
}
.dropdown {
    position: relative;
    a {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}
.dropdown-content {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--preto);
    position: absolute;
    border-radius: 5px;
    min-width: 196px;
    list-style: none;
    padding-top: 5px;
    display: none;
    a {
        padding: 12px 16px;
        text-decoration: none;
    }
    li:not(:last-child) {
        border-bottom: solid 1px var(--branco);
    }
}
.dropdown:hover .dropdown-content {
    display: block;
}
.icon-size {
    width: 40px;
    height: 40px;
    margin: 6px;
}
.cassete-icon {
    background: url(../svg/cassete.svg);
    background-size: cover;
}
.disc-icon {
    background: url(../svg/vinyl.svg);
    background-size: cover;
}
.shirt-icon {
    background: url(../svg/shirt.svg);
    background-size: cover;
}
.pants-icon {
    background: url(../svg/pants.svg);
    background-size: cover;
}
.sweatshirt-icon {
    background: url(../svg/sweatshirt.svg);
    background-size: cover;
}
.cap-icon {
    background: url(../svg/cap.svg);
    background-size: cover;
}
.background-icon {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-right: 8px;
    border-radius: 3px;
}
form {
    position: relative;
}
.search-input {
    background: var(--cinza);
    border: 1px solid var(--cinzacl);
    outline: none;
    width: 200px;
    height: 32px;
    padding: 10px 40px 10px 12px;
    border-radius: 3px;
}
.search-btn {
    background: url(../svg/search.svg);
    background-size: cover;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    border: none;
    font-size: 0.8rem;
}
.text-btn {
    border: 1px solid var(--cinzacl);
    color: var(--segundaria);
    transition: 0.4s ease;
    padding: 6px 16px;
    border-radius: 3px;
    font-size: 0.8rem;
}
.text-btn:hover {
    border: 1px solid var(--primaria);
    color: var(--primaria);
    transform: scale(1.1);
}
.hero {
    padding-left: 64px;
}
.hero h1 {
    padding-top: 64px;
}
.hero p {
    padding-bottom: 48px;
}
.size {
    font-size: 1.3rem;
}
.card-product {
    background: var(--cinza);
    max-width: 300px;
    border-radius: 3px;
}
.car-product-info {
    padding: 0px 16px;
    div {
        display: flex;
        justify-content: space-between;
    }
    p {
        padding-bottom: 8px;
    }
}
.type {
    color: var(--primaria);
}
.price {
    color: var(--tercearia);
}
.album-img {
    width: 300px;
}
.grid-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: var(--preto);
}
.header {
    padding-top: 50px;
    padding-left: 20%;
    width: 100%;
    height: 32px;
    a {
        color: var(--primaria);
        border-bottom: 1px solid var(--cinzacl);
        margin: 6px;
    }
}