main {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}
.outline-section {
    padding: 2rem;
    border: 1px solid var(--cinzacl);
    border-radius: 3px;
    width: 632px;
    margin: 2rem 0px;
    h1 {
        padding: 0.8rem;
    }
}
.disco-img {
    width: 600px;
}
.disco-desc {
    max-width: 600px;
}
.disco-title {
    padding: 0 !important;
}
.disco-price {
    color: var(--tercearia);
    padding: 0.6rem 0px;
}
.buy-btn {
    background: var(--primaria);
    border: 1px solid var(--cinzacl);
    border-radius: 3px;
    color: var(--preto);
    width: 80%;
    height: 50px;
}
